<a href="https://colab.research.google.com/github/ambika0202/Python_Workshop/blob/master/Day3_session2_exercise_programs_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Write a Python Program to Print Multiplication Table of a  number which got through keyboard.

In [ ]:
 num = int(input("Enter the number: "))
 
print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 07
Multiplication Table of 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

#2.Write a  Python Program to find the Armstrong Numbers between 1 and 2000 ( i.e 153 is amtrong numbers as 1**3+5**3+3**3=153 )

In [ ]:
print("Enter the interval (starting and ending number): ");
start = input();
if start == 'x':
    exit();
else:
    end = input();
    lower = int(start);
    upper = int(end);
    for num in range(lower, upper+1):
        tot = 0;
        temp = num;
        while temp != 0:
            dig = temp % 10;
            tot += dig ** 3;
            temp //= 10;
        if num == tot:
            print(num);

Enter the interval (starting and ending number):
1
2000
1
153
370
371
407

#3.Write a python program to get the list of tuples (rollno, name) for n students by getting rollno and name through keyboard. Sort and print  them as rollno wise and name wise both ascending and descending as well as alphabetical and dealphabetical orders

In [ ]:
 l=[]
def inp():
  name = input('Name : ')
  rolno = input(' Rol No : ')
  return (name,rolno)  # returns tuples
 
n = int(input('Number of Students : '))
for x in range(n):
  l.append(inp())
 
print(f'Original : {l}')
 
l.sort(key = lambda x:x[1])
print(f'According to Rol No : Ascending :{l}')
print(f'According to Rol No : Descending :{l[::-1]}')
 
l.sort(key = lambda x:x[0])
print(f'According to Name : Ascending :{l}')
print(f'According to Name : Descending :{l[::-1]}')

Number of Students : 3
Name : Ambika
 Rol No : 07
Name : Maya
 Rol No : 10
Name : Mandira
 Rol No : 05
Original : [('Ambika', '07'), ('Maya', '10'), ('Mandira ', '05')]
According to Rol No : Ascending :[('Mandira ', '05'), ('Ambika', '07'), ('Maya', '10')]
According to Rol No : Descending :[('Maya', '10'), ('Ambika', '07'), ('Mandira ', '05')]
According to Name : Ascending :[('Ambika', '07'), ('Mandira ', '05'), ('Maya', '10')]
According to Name : Descending :[('Maya', '10'), ('Mandira ', '05'), ('Ambika', '07')]

#4.Python Program to Detect if Two Strings are Anagrams ( They are  the two strings which have same length and same words which may be different in their order)

In [ ]:
 def check(s1, s2): 
    if(sorted(s1)== sorted(s2)): 
        print("The strings are anagrams.") 
    else: 
        print("The strings aren't anagrams.")        
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.